@using FindTech.Entities.Models.Enums
@using FindTech.Web.Areas.BO.Controllers
@using FindTech.Web.Areas.BO.Models
@model ArticleBOViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/BO/Views/Shared/_Layout.cshtml";
    var contentSections = (List<ContentSectionBOViewModel>)ViewBag.ContentSections;
}
<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "ArticleBO")">BO</a> </li>
            <li><a href="@Url.Action("Index", "ArticleBO")">Article</a></li>
            <li class="active">Create</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<section id="main">
    <div class="container">
        <div class="content">
            <div id="rootwizard">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul>
                                <li><a href="#tab1" data-toggle="tab">Article</a></li>
                                <li><a href="#tab2" data-toggle="tab">Sections</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="tab1">
                        <form role="form" method="POST" action="CreateArticle">
                            <div class="row">
                                <input type="hidden" id="articleId" name="ArticleId" value="@Model.ArticleId"/>
                                <div class="col-xs-6 col-md-3">
                                    <a href="#" class="thumbnail" id="avatar">
                                        <img data-src="holder.js/100%x300" alt="100%x300" id="imgAvatar" src="@Model.Avatar" />
                                    </a>
                                    <input type="hidden" name="Avatar" value="@Model.Avatar" />
                                </div>
                                <div class="col-xs-6 col-md-9">
                                    <div class="form-group">
                                        <label for="title">Tiêu đề</label>
                                        <input type="text" class="form-control" id="title" name="Title" placeholder="Nhập tiêu đề" value="@Model.Title">
                                    </div>

                                    <div class="form-group">
                                        <label for="description">Mô tả</label>
                                        <textarea class="form-control" id="description" name="Description" placeholder="Mô tả ngắn">@Model.Description</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="tags">Nhãn</label>
                                        <input type="text" class="form-control" maxlength="100" id="tags" name="Tags" data-role="tagsinput" placeholder="Nhãn" value="@Model.Tags">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <label for="title">Nội dung bài viết</label>
                                        <textarea class="editor" name="Content" rows="10" cols="30" style="width:100%;height:400px">@Html.Raw(Model.Content)</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label for="title">Loại bài</label>
                                        <input type="text" class="form-control" id="articleType" name="ArticleType" placeholder="Loại bài"  value="@Model.ArticleType"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="category">Danh mục</label>
                                        <input type="text" class="form-control" id="category" name="ArticleCategoryId" value="@Model.ArticleCategoryId" placeholder="Danh mục">
                                    </div>

                                    <div class="form-group">
                                        <label for="source">Nguồn</label>
                                        <input type="text" class="form-control" id="source" name="SourceId" value="@Model.SourceId" placeholder="Nguồn bài viết">
                                    </div>

                                    <div class="form-group">
                                        <label for="title">Kích thước box</label>
                                        <input type="text" class="form-control" id="boxSize" name="BoxSize" placeholder="Kích thước box" value="@Model.BoxSize"/>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label for="tags">Ngày</label>
                                        <input type='text' class="form-control" id="datetimepicker" name="PublishedDate" placeholder="Ngày tạo bài" value="@Model.PublishedDate" />
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Độ ưu tiên</label>
                                        <input type="text" class="form-control" id="priority" name="Priority" placeholder="Độ ưu tiên" value="@Model.Priority"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="title">Tác giả</label>
                                        <input type="text" class="form-control" id="author" name="Author" placeholder="Tác giả" value="@Model.Author" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 text-right">
                                    <span class="checkbox">
                                        <label>
                                            <input type="checkbox" id="isActive" name="IsActived" @(Model.IsActived =="True" ? "checked":"")> Kích hoạt
                                        </label>
                                    </span>
                                    <button type="submit" class="btn btn-primary">@(Model.ArticleId == 0 ? "Click để tạo bài" : "Click để cập nhật bài")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="panel-group" id="accordion">
                            @foreach (var contentSection in contentSections)
                            {
                                Html.RenderAction("_ContentSectionForm", "ContentSectionBO", new { articleId = Model.ArticleId, contentSectionId = contentSection.ContentSectionId });
                            }
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-right">
                                <button type="button" class="btn btn-primary" id="addNewContentSection">Add New Content Section</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .content -->
    </div>
</section><!-- #main -->
@*kendoui edtitor for content html of article*@
<script>
    $(document).ready(function () {
        $('#rootwizard').bootstrapWizard({
            onTabShow: function (tab, navigation, index) {
            }
        });
        $("#addNewContentSection").click(function() {
            $.get('@Url.Action("_ContentSectionForm", "ContentSectionBO")?articleId=' + $("#articleId").val(), function (data) {
                $('#accordion').append(data);
                accordions();
            });
        });
        if ($("#articleId").val() == 0) {
            $('#rootwizard').bootstrapWizard('disable', 1);
        }
        window.applyImageBrowser('avatar', function(url) {
            $('#imgAvatar').attr('src', url);
        });
        var tags = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '/ArticleBO/GetTags?tag=%QUERY'
        });
        tags.initialize();
        $('#tags').tagsinput({
            typeaheadjs: {
                name: 'tags',
                displayKey: 'name',
                valueKey: 'name',
                source: tags.ttAdapter()
            }
        });


        $(".editor").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "insertImage",
                "insertFile",
                "subscript",
                "superscript",
                "createTable",
                "addRowAbove",
                "addRowBelow",
                "addColumnLeft",
                "addColumnRight",
                "deleteRow",
                "deleteColumn",
                "viewHtml",
                "formatting",
                "cleanFormatting",
                "fontName",
                "fontSize",
                "foreColor",
                "backColor"
            ]
        });

        $('#datetimepicker').datepicker({
            language: 'en'
        });

        $("#category").kendoDropDownList({
            dataTextField: "ArticleCategoryName",
            dataValueField: "ArticleCategoryId",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "../ArticleCategoryBO/GetArticleCategories",
                    }
                }
            }
        });
       
        
        $("#source").kendoDropDownList({
            dataTextField: "SourceName",
            dataValueField: "SourceId",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "../SourceBO/GetSources",
                    }
                }
            }
        });

        $("#articleType").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
              { text: "News", value: "0" },
              { text: "Review", value: "1" }
            ]
        });

        $("#boxSize").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
              { text: "box-1", value: "box-1" },
              { text: "box-2", value: "box-2" }
            ]
        });
    });
</script>
