@using System.Globalization
@model FindTech.Web.Models.ArticleViewModel
@{
    var article = Model;
}
<div class="col-sm-3 col-md-3 isotope-item item-clone">
    <div class="article">
        <div class="default">
            <a href="@Url.Action("Detail", "Article", new { seoTitle = article.SeoTitle })" class="article-avatar">
                <img src="@article.Avatar" alt="" title="" width="270" height="270">
            </a>
            <div class="article-description">
                <a href="@Url.Action("Detail", "Article", new { seoTitle = article.SeoTitle })" class="title">@article.Title</a>
                <div class="posted-info"><span class="blurry-text">Đăng:</span><strong> @article.PublishedDate.ToString("dd MMM yy HH:mm:ss", new CultureInfo("vi-VN")), <span class="blurry-text">bởi</span> @article.SourceName</strong></div>
                <div class="description">@article.Description</div>
            </div>
            <div class="social">
                <span class="icon-facebook"><span class="count">25</span></span>
                <span class="icon-twitter"><span class="count">30</span></span>
                <span class="icon-gplus"><span class="count">11</span></span>
                <a class="fa fa-comments" href="@Url.Action("Detail", "Article", new { seoTitle = article.SeoTitle })"><span class="count">12</span></a>
            </div>
        </div>
    </div><!-- .article -->
</div>
