@using FindTech.Entities.Models.Enums
@using FindTech.Web.Areas.BO.Controllers
@using FindTech.Web.Areas.BO.Models
@model ArticleBOViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/BO/Views/Shared/_Layout.cshtml";
    var contentSections = (List<ContentSectionBOViewModel>)ViewBag.ContentSections;
    var boxSize = (int) Model.BoxSize;
}
<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "ArticleBO")">BO</a> </li>
            <li><a href="@Url.Action("Index", "ArticleBO")">Article</a></li>
            <li class="active">Create</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<section id="main">
    <div class="container">
        <div class="content">
            <div id="rootwizard">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul>
                                <li><a href="#tab1" data-toggle="tab">Article</a></li>
                                <li><a href="#tab2" data-toggle="tab">Sections</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="tab1">
                        <form role="form" method="POST" action="CreateOrUpdate">
                            <div class="row">
                                <input type="hidden" id="articleId" name="ArticleId" value="@Model.ArticleId" />
                                <div class="col-xs-6 col-md-3">
                                    <a href="#" class="thumbnail" id="avatar">
                                        <img data-src="holder.js/100%x300" alt="100%x300" id="imgAvatar" src="@Model.Avatar" />
                                    </a>
                                    <input type="hidden" name="Avatar" value="@Model.Avatar" />
                                </div>
                                <div class="col-xs-6 col-md-9">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" class="form-control" id="title" name="Title" placeholder="Input Title" value="@Model.Title">
                                    </div>

                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" id="description" name="Description" placeholder="Input Description">@Model.Description</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="tags">Tags</label>
                                        <input type="text" class="form-control" maxlength="100" id="tags" name="Tags" data-role="tagsinput" placeholder="Input Tags" value="@Model.Tags">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <label for="title">Content</label>
                                        <textarea class="editor" name="Content" rows="10" cols="30" style="width:100%;height:400px">@Html.Raw(Model.Content)</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label for="title">Article Type</label>
                                        <input type="text" class="form-control" id="articleType" name="ArticleType" placeholder="Article Type" value="@Model.ArticleType" />
                                    </div>

                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <input type="text" class="form-control" id="category" name="ArticleCategoryId" value="@Model.ArticleCategoryId" placeholder="Category">
                                    </div>

                                    <div class="form-group">
                                        <label for="source">Source</label>
                                        <input type="text" class="form-control" id="source" name="SourceId" value="@Model.SourceId" placeholder="Source">
                                    </div>

                                    <div class="form-group">
                                        <label for="title">Box size</label>
                                        <input type="text" class="form-control" id="boxSize" name="BoxSize" placeholder="Box size" value="@boxSize" />
                                    </div>
                                </div>

                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label for="tags">Date create</label>
                                        <input type='text' id="datetimepicker" name="PublishedDate" placeholder="Date create" value="@Model.PublishedDate" />
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Priority</label>
                                        <input type="text" class="form-control" id="priority" name="Priority" placeholder="Input Priority" value="@Model.Priority" />
                                    </div>

                                    <div class="form-group">
                                        <label for="title">Author</label>
                                        <input type="text" class="form-control" id="author" name="Author" placeholder="Input Author" value="@Model.Author" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 text-right">
                                    <span class="checkbox">
                                        <label>
                                            <input type="checkbox" id="isActive" name="IsActived" @(Model.IsActived == "True" ? "checked" : "")> Actived
                                        </label>
                                    </span>
                                    <button type="submit" class="btn btn-primary">@(Model.ArticleId == 0 ? "Create" : "Update")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="alert alert-success" id="contentSectionAlert">Save success!</div>
                        <div class="panel-group" id="accordion">
                            @foreach (var contentSection in contentSections)
                            {
                                Html.RenderAction("_ContentSectionForm", "ContentSectionBO", new { articleId = Model.ArticleId, contentSectionId = contentSection.ContentSectionId });
                            }
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-right">
                                <button type="button" class="btn btn-primary" id="addNewContentSection">Add New Content Section</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .content -->
    </div>
</section><!-- #main -->
@*kendoui edtitor for content html of article*@
<script>
    $(document).ready(function () {
        $('#rootwizard').bootstrapWizard({
            onTabShow: function (tab, navigation, index) {
            }
        });
        $("#addNewContentSection").click(function() {
            $.get('@Url.Action("_ContentSectionForm", "ContentSectionBO")?articleId=' + $("#articleId").val(), function (data) {
                $('#accordion').append(data);
                accordions();
            });
        });
        if ($("#articleId").val() == 0) {
            $('#rootwizard').bootstrapWizard('disable', 1);
        }
        window.applyImageBrowser('avatar', function(url) {
            $('#imgAvatar').attr('src', url);
        });
        var tags = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '/ArticleBO/GetTags?tag=%QUERY'
        });
        tags.initialize();
        $('#tags').tagsinput({
            typeaheadjs: {
                name: 'tags',
                displayKey: 'name',
                valueKey: 'name',
                source: tags.ttAdapter()
            }
        });


        $(".editor").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "insertImage",
                "insertFile",
                "subscript",
                "superscript",
                "createTable",
                "addRowAbove",
                "addRowBelow",
                "addColumnLeft",
                "addColumnRight",
                "deleteRow",
                "deleteColumn",
                "viewHtml",
                "formatting",
                "cleanFormatting",
                "fontName",
                "fontSize",
                "foreColor",
                "backColor"
            ]
        });

        $('#datetimepicker').kendoDateTimePicker({
            format: "dd-MMM-yy h:mm:ss tt"
        });

        $("#category").kendoDropDownList({
            optionLabel: "Select Category",
            dataTextField: "ArticleCategoryName",
            dataValueField: "ArticleCategoryId",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "../ArticleCategoryBO/GetArticleCategories",
                    }
                }
            }
        });


        $("#source").kendoDropDownList({
            optionLabel: "Select Source",
            dataTextField: "SourceName",
            dataValueField: "SourceId",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "../SourceBO/GetSources",
                    }
                }
            }
        });

        $("#articleType").kendoDropDownList({
            optionLabel: "Select Article Type",
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
              { text: "News", value: "0" },
              { text: "Review", value: "1" }
            ]
        });

        $("#boxSize").kendoDropDownList({
            optionLabel: "Select Box Size",
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
              { text: "Box1", value: "1" },
              { text: "Box2", value: "2" },
              { text: "Box3", value: "3" }
            ]
        });
    });

   function submitContentSection (form) {
        $.post(form.attr('action'), form.serialize(), function (data) {
            form.find('input[name="ContentSectionId"]').val(data.ContentSectionId);
            form.closest('.panel').find('.panel-title a').text(data.SectionTitle);
            $('#contentSectionAlert').html('<strong>Saved success!</strong>');
            $('#contentSectionAlert').show(0).delay(3000).hide(0);
        });
   };

   function deleteContentSection(form) {
       if (confirm("Are you sure to delete this content section!")) {
           var contentSectionId = form.find('input[name="ContentSectionId"]').val();
           if (contentSectionId > 0) {
               $.post('@Url.Action("Destroy", "ContentSectionBO")', { contentSectionId: contentSectionId }, function (data) {
                   form.closest('.panel').remove();
                   $('#contentSectionAlert').html('<strong>Deleted success!</strong>');
                   $('#contentSectionAlert').show(0).delay(3000).hide(0);
               });
           } else {
               form.closest('.panel').remove();
           }
       }
   };
</script>
