@using System.Activities.Statements
@using System.Globalization
@using FindTech.Entities.Models.Enums
@using FindTech.Web.Models

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var article = (ArticleViewModel) ViewBag.Article;
    var articles = (IEnumerable<ArticleViewModel>) ViewBag.Articles;
}
<div class="container">
    <div class="breadcrumb-box">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li><a href="/blog-view.html">Our Blog</a> </li>
            <li class="active">Excepteur Sint Occaecat</li>
        </ul>
    </div><!-- .breadcrumb-box -->
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51a2fc0f2f4412f7" async="async"></script>
<section id="article">
    <header class="page-header">
        <div class="container">
            <div class="col-sm-9 col-md-9">
                <div class="row">
                    @if (article != null)
                    {
                    <h1 class="title">@article.Title</h1>
                    <div class="entry-meta">
                        <div class="posted-info"><span class="blurry-text">Đăng:</span><strong> @article.PublishedDate.ToString("dd MMM yy HH:mm:ss", new CultureInfo("vi-VN"))<span class="separator">|</span><span class="blurry-text">Bởi:</span> @article.SourceName</strong></div>
                        <span class="meta btn-icon tags">
                            <span class="blurry-text">Nhãn:</span>
                            @if (article.Tags != null)
                                {
                                    foreach (var tag in article.Tags.Split(','))
                                    {
                                <a href="#">@tag</a>
                                    }
                                }
                                else
                                {
                                    foreach (var tag in article.SeoTitle.Split('-'))
                                    {
                                <a href="#">@tag</a>
                                    }
                                }
                        </span>
                    </div>
                    }
                    else
                    {
                    <h1 class="title">Không tìm thấy bài viết</h1>
                    }
                </div>
            </div>
        </div>
    </header>
    @if (article != null)
    {
        <div class="container">
            <div class="row">
                <div class="content blog blog-post col-sm-9 col-md-9">
                    <article class="post">
                        <div class="entry-content">
                            @Html.Raw(article.Content)
                        </div>
                    </article><!-- .post -->
                    @{Html.RenderPartial("_MiniSliderBox", new ArticleListViewModel { Articles = articles, Title = "Thủ thuật" });}
                    <h3 class="title slim">Comments</h3>
                    <ul class="commentlist">
                        <li>
                            <img class="avatar" width="84" height="84" src="img/avatar.png" alt="">
                            <div class="meta">
                                <span>Mike Example</span>,
                                <span class="time">03.11.2013, 10:45:</span>
                            </div>
                            <p class="description">
                                Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.  It enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </li>
                        <li>
                            <img class="avatar" width="84" height="84" src="img/avatar.png" alt="">
                            <div class="meta">
                                <span>Mike Example</span>,
                                <span class="time">03.11.2013, 10:45:</span>
                            </div>
                            <p class="description">
                                Etiam mollis volutpat odio, id euismod justo gravida a. Aliquam erat volutpat. Phasellus faucibus venenatis lorem, vitae commodo elit pretium et. Duis rhoncus lobortis congue. Vestibulum et purus dui, vel porta lectus. Sed vulputate pulvinar adipiscing. It enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </li>
                        <li>
                            <img class="avatar" width="84" height="84" src="img/avatar.png" alt="">
                            <div class="meta">
                                <span>Mike Example</span>,
                                <span class="time">03.11.2013, 10:45:</span>
                            </div>
                            <p class="description">
                                Etiam mollis volutpat odio, id euismod justo gravida a. Aliquam erat volutpat. Phasellus faucibus venenatis lorem, vitae commodo elit pretium et. Duis rhoncus lobortis congue. Vestibulum et purus dui, vel porta lectus. Sed vulputate pulvinar adipiscing. It enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </li>
                    </ul>

                    <h3 class="title slim">Leave a Reaply</h3>

                    <form class="comments-form">
                        <label>Name: <span class="required">*</span></label>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <input class="form-control" type="text">
                            </div>
                        </div>

                        <label>Email Adress: <span class="required">*</span></label>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <input class="form-control" type="email">
                            </div>
                        </div>
                        <label>Comment: </label>
                        <div class="row">
                            <div class="comment-box col-sm-10 col-md-10">
                                <textarea class="form-control"></textarea>
                                <i>Note: HTML is not translated!</i>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="button-set">
                            <span class="required pull-right"><b>*</b> Required Field</span>
                            <button class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div><!-- .content -->
                <div class="sidebar col-sm-3 col-md-3">
                    @{Html.RenderPartial("_MiniListBox", new ArticleListViewModel { Articles = articles, Title = "Bài viết mới nhất", TitleStyleClass = "fa fa-eye background-00ade0" });}
                </div>
                <div class="clearfix"></div>
            </div><!-- .content -->
        </div>
    }
</section><!-- #main -->
